codeclause
app.log
frontend/app_old.py
.env
cached_models
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
*.log
*.DS_Store
*.coverage
*.mypy_cache/
*.pytest_cache/
*.pylint.d/
*.coverage.*
*.hypothesis/
*.tox/
*.coverage.*
engine.oo.py
query_engine.old.py